div .icon {
	background-image:url(../Icons/mm_icons.png);
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	cursor:pointer;
	padding:0px;
}

.maus { background-position: 0px -59px; }
.maus:hover { background-position: 0px -183px; }

.tool { background-position: -17px -59px; }
.tool:hover { background-position: -17px -183px; }
.tool_active { background-position: -17px -307px; }

.addin { background-position: -34px -59px; }
.addin:hover { background-position: -34px -183px; }

.haus { background-position: 0px -76px; }
.haus:hover { background-position: 0px -200px; }

.bighaus { background-position: -17px -76px; }
.bighaus:hover { background-position: -17px -200px; }

.hochhaus { background-position: -34px -76px; }
.hochhaus:hover { background-position: -34px -200px; }

.lupe { background-position: -51px -76px; }
.lupe:hover { background-position: -51px -200px; }

.herz { background-position: -68px -76px; }
.herz:hover { background-position: -68px -200px; }

.stift { background-position: -85px -76px; }
.stift:hover { background-position: -85px -200px; }

.ewagen { background-position: -102px -76px; }
.ewagen:hover { background-position: -102px -200px; }

.sheet { background-position: -119px -76px; }
.sheet:hover { background-position: -119px -200px; }

.person { background-position: -136px -76px; }
.person:hover { background-position: -136px -200px; }

.dir4 { background-position: -153px -76px; }
.dir4:hover { background-position: -153px -200px; }

.sanduhr { background-position: -170px -76px; }
.sanduhr:hover { background-position: -170px -200px; }

.diskette { background-position: -187px -76px; }
.diskette:hover { background-position: -187px -200px; }
.diskette_inactive { background-position: -187px -448px; }

.graph { background-position: -204px -76px; }
.graph:hover { background-position: -204px -200px; }

.haken { background-position: -221px -76px; }
.haken:hover { background-position: -221px -200px; }

.sprechblase { background-position: -238px -76px; }
.sprechblase:hover { background-position: -238px -200px; }

.pfeil_rechts { background-position: -255px -76px; }
.pfeil_rechts:hover { background-position: -255px -200px; }

.pfeil_unten { background-position: -272px -76px; }
.pfeil_unten:hover { background-position: -272px -200px; }

.pfeil_links { background-position: -289px -76px; }
.pfeil_links:hover { background-position: -289px -200px; }

.pfeil_oben { background-position: -306px -76px; }
.pfeil_oben:hover { background-position: -306px -200px; }

.pfeil_ro { background-position: -323px -76px; }
.pfeil_ro:hover { background-position: -323px -200px; }

.pfeil_ru { background-position: -340px -76px; }
.pfeil_ru:hover { background-position: -340px -200px; }

.pfeil_lu { background-position: -357px -76px; }
.pfeil_lu:hover { background-position: -357px -200px; }

.pfeil_lo { background-position: -374px -76px; }
.pfeil_lo:hover { background-position: -374px -200px; }

.pright { background-position: -391px -76px; }
.pright:hover { background-position: -391px -200px; }

.pleft { background-position: -408px -76px; }
.pleft:hover { background-position: -408px -200px; }

.skull { background-position: 0px -93px; }
.skull:hover { background-position: 0px -217px; }

.print { background-position: -17px -93px; }
.print:hover { background-position: -17px -217px; }

.birne { background-position: -34px -93px; }
.birne:hover { background-position: -34px -217px; }

.leftright { background-position: -51px -93px; }
.leftright:hover { background-position: -51px -217px; }

.emptyfolder { background-position: -68px -93px; }
.emptyfolder:hover { background-position: -68px -217px; }

.folder{ background-position: -85px -93px; }
.folder:hover { background-position: -85px -217px; }

.umschlag { background-position: -102px -93px; }
.umschlag:hover { background-position: -102px -217px; }

.turnright { background-position: -119px -93px; }
.turnright:hover { background-position: -119px -217px; }

.turnleft { background-position: -136px -93px; }
.turnleft:hover { background-position: -136px -217px; }

.schild { background-position: -153px -93px; }
.schild:hover { background-position: -153px -217px; }

.info { background-position: -170px -93px; }
.info:hover { background-position: -170px -217px; }

.emark { background-position: -187px -93px; }
.emark:hover { background-position: -187px -217px; }

.cross { background-position: -204px -93px; }
.cross:hover { background-position: -204px -217px; }

.plus { background-position: -221px -93px; }
.plus:hover { background-position: -221px -217px; }
.plus_inactive { background-position: -221px -465px; }

.sheets { background-position: -238px -93px; }
.sheets:hover { background-position: -238px -217px; }

.klemmbrett { background-position: -255px -93px; }
.klemmbrett:hover { background-position: -255px -217px; }

.schloss { background-position: -272px -93px; }
.schloss:hover { background-position: -272px -217px; }

.warnung { background-position: -289px -93px; }
.warnung:hover { background-position: -289px -217px; }

.uhr { background-position: -306px -93px; }
.uhr:hover { background-position: -306px -217px; }

.open{ background-position: -323px -93px; }
.open:hover { background-position: -323px -217px; }

.stop { background-position: -340px -93px; }
.stop:hover { background-position: -340px -217px; }

.play { background-position: -357px -93px; }
.play:hover { background-position: -357px -217px; }

.pause { background-position: -374px -93px; }
.pause:hover { background-position: -374px -217px; }

.goright { background-position: -391px -93px; }
.goright:hover { background-position: -391px -217px; }
.goright_inactive { background-position: -391px -465px; }

.goleft { background-position: -408px -93px; }
.goleft:hover { background-position: -408px -217px; }
.goleft_inactive { background-position: -408px -465px; }

.bin { background-position: 0px -110px; }
.bin:hover { background-position: 0px -234px; }
.bin_inactive { background-position: 0px -482px; }

.tree { background-position: -17px -110px; }
.tree:hover { background-position: -17px -234px; }

.bigger { background-position: -34px -110px; }
.bigger:hover { background-position: -34px -234px; }

.division { background-position: -51px -110px; }
.division:hover { background-position: -51px -234px; }

.key { background-position: -68px -110px; }
.key:hover { background-position: -68px -234px; }

.flag { background-position: -85px -110px; }
.flag:hover { background-position: -85px -234px; }

.klammer1 { background-position: -102px -110px; }
.klammer1:hover { background-position: -102px -234px; }

.klammer2 { background-position: -119px -110px; }
.klammer2:hover { background-position: -119px -234px; }

.note { background-position: -136px -110px; }
.note:hover { background-position: -136px -234px; }

.phone { background-position: -153px -110px; }
.phone:hover { background-position: -153px -234px; }

.enlarge { background-position: -170px -110px; }
.enlarge:hover { background-position: -170px -234px; }

.minimize { background-position: -187px -110px; }
.minimize:hover { background-position: -187px -234px; }

.thingy { background-position: -204px -110px; }
.thingy:hover { background-position: -204px -234px; }

.stat { background-position: -221px -110px; }
.stat:hover { background-position: -221px -234px; }

.headphones { background-position: -238px -110px; }
.headphones:hover { background-position: -238px -234px; }

.kamera { background-position: -255px -110px; }
.kamera:hover { background-position: -255px -234px; }

.page { background-position: -272px -110px; }
.page:hover { background-position: -272px -234px; }

.sun { background-position: -289px -110px; }
.sun:hover { background-position: -289px -234px; }

.dir2 { background-position: -306px -110px; }
.dir2:hover { background-position: -306px -234px; }

.aplus { background-position: -323px -110px; }
.aplus:hover { background-position: -323px -234px; }

.aminus { background-position: -340px -110px; }
.aminus:hover { background-position: -340px -234px; }

.verbot { background-position: -357px -110px; }
.verbot:hover { background-position: -357px -234px; }

.qmark { background-position: -374px -110px; }
.qmark:hover { background-position: -374px -234px; }

.piestat { background-position: -391px -110px; }
.piestat:hover { background-position: -391px -234px; }

.frucht { background-position: -408px -110px; }
.frucht:hover { background-position: -408px -234px; }

.down { background-position: -51px -59px; }
.down:hover { background-position: -51px -183px; }

.minus { background-position: -68px -59px; }
.minus:hover { background-position: -68px -183px; }

.up { background-position: -102px -59px; }
.up:hover { background-position: -102px -183px; }
.up_inactive { background-position: -102px -431px; }

.corner4 { background-position: -85px -59px; }
.corner4:hover { background-position: -85px -183px; }

.link { background-position: -119px -59px; }
.link:hover { background-position: -119px -183px; }

.archiv { background-position: -136px -59px; }
.archiv:hover { background-position: -136px -183px; }

.totop { background-position: -153px -59px; }
.totop:hover { background-position: -153px -183px; }

.toleft { background-position: -170px -59px; }
.toleft:hover { background-position: -170px -183px; }

.tocenter { background-position: -187px -59px; }
.tocenter:hover { background-position: -187px -183px; }

.toright { background-position: -204px -59px; }
.toright:hover { background-position: -204px -183px; }

.tobottom { background-position: -221px -59px; }
.tobottom:hover { background-position: -221px -183px; }

.hide { background-position: -255px -59px; }
.hide:hover { background-position: -255px -183px; }

.show { background-position: -238px -59px; }
.show:hover { background-position: -238px -183px; }
.show_inactive{ background-position: -238px -431px; }

.right{ background-position:-272px -59px; }
.right:hover{ background-position:-272px -183px; }
.right_inactive { background-position: -272px -431px; }

.left{ background-position:-289px -59px; }
.left:hover{ background-position:-289px -183px; }
.left_inactive { background-position: -289px -431px; }

.bottomtop{ background-position:-306px -59px; }
.bottomtop:hover{ background-position:-306px -183px; }



